policy_module(l_pyzor,0.0.2)

require {
        type mscan_t;
        class process setsched;
}

#============= mscan_t ==============
allow mscan_t self:process setsched;
libs_exec_ldconfig(mscan_t)
