#
# This group is read both both by the client and the server
# use it for options that affect everything
#
[client-server]

#
# This group is read by the server
#
[mysqld]
# Disabling symbolic-links is recommended to prevent assorted security risks
symbolic-links=0
max_allowed_packet=16777216
tmp_table_size=64M
join_buffer_size=64M
innodb_doublewrite=OFF
#innodb_additional_mem_pool_size=80M
innodb_flush_log_at_timeout=4
innodb_read_io_threads=32
innodb_write_io_threads=16

#
# include all files from the config directory
#
!includedir /etc/my.cnf.d

