policy_module(l_dccproc,0.0.2)

require {
	type dcc_var_t;
	type dcc_client_map_t;
	type mscan_t;
	class file { getattr lock map open read write };
}

#============= mscan_t ==============
allow mscan_t dcc_client_map_t:file { getattr lock map open read write };
allow mscan_t dcc_var_t:file { getattr lock map open read write };
dcc_stream_connect_dccifd(mscan_t)

